<div class="task-row task-<%= task.status %> priority-<%= task.priority_number %>" data-task-id="<%= task.id %>">
  <div class="task-checkbox-container">
    <% if task.done? %>
      <%= link_to complete_task_path(task), class: "task-checkbox checked", data: { turbo_method: :patch, turbo_frame: '_self' } do %>
        <span class="checkmark">✓</span>
      <% end %>
    <% else %>
      <%= link_to complete_task_path(task), class: "task-checkbox", data: { turbo_method: :patch, turbo_frame: '_self' } do %>
        <span class="checkbox-empty"></span>
      <% end %>
    <% end %>
  </div>

  <%= link_to task.title, [task.project, task], class: "task-name" %>

  <span class="task-status status-<%= task.status %>">
    <%= task.status.humanize %>
  </span>
</div>

<!-- Show subtasks if any -->
<% if task.subtasks.any? %>
  <% task.subtasks.each do |subtask| %>
    <div class="subtask-indent">
      <%= render 'tasks/task_item', task: subtask, show_project: show_project %>
    </div>
  <% end %>
<% end %>