<div class="notebook-page">
  <div class="page-header">
    <h1 class="page-title">Projects</h1>
    <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
  </div>

  <div class="projects-list">
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <div class="project-row priority-<%= project.priority_number %> <%= project.priority_tags.map { |tag| "tag-#{tag}" }.join(' ') %>">
          <%= link_to project.name, project_path(project), class: "project-name" %>
          <span class="project-status status-<%= project.status %>">
            <%= project.status.humanize %>
          </span>
        </div>
      <% end %>
    <% else %>
      <div class="empty-state">
        <p class="empty-state-text">No projects yet. Create your first project to get started.</p>
        <%= link_to "Create Project", new_project_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
